body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/847/890/558/line-grey-background-lines-fon-hd-wallpaper-preview.jpg);
    color: black;
    background-size: cover;
    background-repeat-y: repeat;
}